/* FONTS OPEN */
@font-face {
  font-family: "SFPro";
  src: url("/Fonts/San Francisco Pro/SFP-Ultralight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  src: url("/Fonts/San Francisco Pro/SFP-UltralightItalic.ttf")
    format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "SFPro";
  src: url("/Fonts/San Francisco Pro/SFP-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  src: url("/Fonts/San Francisco Pro/SFP-ThinItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "SFPro";
  src: url("/Fonts/San Francisco Pro/SFP-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  src: url("/Fonts/San Francisco Pro/SFP-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "SFPro";
  src: url("/Fonts/San Francisco Pro/SFP-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  src: url("/Fonts/San Francisco Pro/SFP-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "SFPro";
  src: url("/Fonts/San Francisco Pro/SFP-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  src: url("/Fonts/San Francisco Pro/SFP-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "SFPro";
  src: url("/Fonts/San Francisco Pro/SFP-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  src: url("/Fonts/San Francisco Pro/SFP-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "SFPro";
  src: url("/Fonts/San Francisco Pro/SFP-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  src: url("/Fonts/San Francisco Pro/SFP-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "SFPro";
  src: url("/Fonts/San Francisco Pro/SFP-Heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  src: url("/Fonts/San Francisco Pro/SFP-HeavyItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "SFPro";
  src: url("/Fonts/San Francisco Pro/SFP-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SFPro";
  src: url("/Fonts/San Francisco Pro/SFP-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
/* FONTS CLOSE */

/* CSS RESET OPEN */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* CSS RESET CLOSE */

body {
  background-color: #080808;
  color: #fbfbfb;
  /* font-size: 100px; */
  font-family: "SFPro";
}

/* HEADER OPEN */
header {
  position: sticky;
  display: flex;

  height: 65px;
  width: 100%;

  padding: 0 24px;

  background-color: var(--clr-primary);
  box-shadow: 0px 4px 0px var(--clr-tirtiary);
}

.hdr-container {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;

  width: 1300px;
}

.hdr-logo {
  height: auto;
  width: 45px;

  margin: 12px 0;
}

ul {
  display: flex;
  gap: 36px;
}

li {
  list-style-type: none;

  font-size: 1.3em;
  font-weight: var(--fnt-medium);
  letter-spacing: 0.08em;
}

li:hover {
  cursor: pointer;

  border-bottom: 2px solid var(--clr-secondary);
  padding-bottom: 4px;
}
/* HEADER CLOSE */

/* COLORS OPEN */
:root {
  --clr-primary: #080808;
  --clr-secondary: #fbfbfb;
  --clr-tirtiary: #383838;

  --fnt-ultra: 100;
  --fnt-thin: 200;
  --fnt-light: 300;
  --fnt-regular: 400;
  --fnt-medium: 500;
  --fnt-semi: 600;
  --fnt-bold: 700;
  --fnt-heavy: 800;
  --fnt-black: 900;
}
/* COLORS CLOSE */
